<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sales Assistant @ViewData["Title"]</title>

    <link href="~/css/bootstrap-4.0.0.css" rel="stylesheet" type="text/css">
    <link href="~/css/CUSTOM.css" rel="stylesheet" type="text/css">
</head>
<body class="background_home">
    <!-- Put Navbar partial here -->
    <div class="body-content">
        @if (!(@Context.Request.Path.Value == "/Login"))
        {
           @Html.Partial("_NavbarPartial")
        }
        @RenderBody()
    </div>
    <script src="~/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="~/js/bootstrap-4.0.0.js" type="text/javascript"></script>
    <script src="~/js/CUSTOM.js" type="text/javascript"></script>
    <script src="~/js/popper.min.js" type="text/javascript"></script>
    @RenderSection("Scripts", false)
</body>
</html>
