﻿@{
}
<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
    <a class="navbar-brand" href="/">BCX</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Menu </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/exco?key=Chief Digital Officer">CDO</a>
                    <a class="dropdown-item" href="/exco?key=Chief Software Officer">CSWO</a>
                    <a class="dropdown-item" href="/exco?key=Chief Operating Officer">COO</a>
                    @if (@User.IsInRole("Admin"))
                    {
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/AddEntry">Add Entry</a>
                        <a class="dropdown-item" href="/Users">Users</a>
                    }
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/Tables">Summary Table</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/">Home</a>
                </div>
            </li>
        </ul>
    </div>
</nav>