﻿@page
@model AddEntryModel
@{
    ViewData["Title"] = "Add Entry";
}

<div class="container-fluid white">
    @if (Model.ServiceName != null)
    {
        <div class="row introduction text-center ">
            <div class="alert alert-success alert-dismissible" role="alert" style="width:100%">
                @Model.ServiceName added successfully
            </div>
        </div>
    }
    <form method="POST">
        <!-- COE NAME -->
        <div class="row introduction white">
            @if (Model.ImageUri != null)
            {
                <div data-toggle="modal" data-target="#myModal" class="col-md-2 click"><img src="@Model.ImageUri" alt=""/></div>
            }
            else
            {
                <div data-toggle="modal" data-target="#myModal" class="col-md-2 click"><img src="images/placeholder.svg" alt="" /></div>
            }
            <div class="col-md-10">
                <div class="coe_name">
                    <select asp-for="Product.ExcoName">
                        <option disabled selected>Choose One</option>
                        @foreach (var name in @Model.ExcoOptions)
                        {
                            <option>@name</option>
                        }
                    </select>
                </div>
                <div class="coe_name">
                    <input asp-for="Product.COEName" maxlength="20" placeholder="Division Name">
                </div>
                <div class="solution_name">
                    <span>
                        <input asp-for="Product.ServiceName" maxlength="30" placeholder="Service Name">
                    </span>
                </div>
                <div class="owner_name col-md-4 float-left">
                    <input asp-for="Product.OwnerOneName" maxlength="20" placeholder="Owner Name">
                    <input asp-for="Product.OwnerOneEmail" type="email" maxlength="30" placeholder="Email">
                    <input asp-for="Product.OwnerOneNumber" type="tel" maxlength="10" placeholder="Cell Phone">
                </div>
                <div class="owner_name col-md-4 float-left">
                    <input asp-for="Product.OwnerTwoName" maxlength="20" placeholder="Owner Name">
                    <input asp-for="Product.OwnerTwoEmail" type="email" maxlength="30" placeholder="Email">
                    <input asp-for="Product.OwnerTwoNumber" type="tel" maxlength="10" placeholder="Cell Phone">
                </div>

                @*<div class="owner_name col-md-4 float-left">
                    <textarea rows="4" maxlength="30" placeholder="Keywords for search"></textarea>
                </div>*@
            </div>
        </div>

        <!-- Target Audience + ELEVATOR PITCH SERVICE OFFERING DESCRIPTION -->
        <div class="row">
            <div class="col-md-4 dark_grey">
                <div class="block_headings col-md-12" style="color: white">
                    <span>ELEVATOR PITCH</span> <span>
                        <textarea asp-for="Product.ElevatorPitch" rows="5" maxlength="380"></textarea>
                    </span>
                </div>
            </div>
            <div class="col-md-8 dark_grey_1">
                <div class="block_headings col-md-12" style="color: white">
                    <span>SERVICE OFFERING DESCRIPTION</span> <span class="full_description">
                        <textarea asp-for="Product.ServiceOfferingDescription" rows="5" maxlength="620"></textarea>
                    </span>
                </div>
            </div>
        </div>

        <!-- VALUE PROPOSITION + PROBLEM -->
        <div class="row white page_break">
            <div class="col-md-4 border-right">
                <div class="block_headings col-md-12" style="color: grey">
                    <span>PROBLEM SOLVED</span><span>
                        <textarea asp-for="Product.ProblemSolved" rows="5" maxlength="870"></textarea>
                    </span>
                </div>
            </div>
            <div class="col-md-8">
                <div class="block_headings col-md-12 val_prop" style="color:grey">
                    <span>VALUE PROPOSITION</span> <span class="full_description">
                        <textarea asp-for="Product.ValueProposition" rows="5" maxlength="2000"></textarea>
                    </span>
                </div>
            </div>
        </div>

        <!-- FEATURES + COMMERCIALS -->
        <div class="row white">
            <div class="col-md-12">
                <div class="block_headings col-md-12 val_prop" style="color:grey">
                    <span>Customers and projects</span> <span class="full_description">
                        <textarea asp-for="Product.CustomersAndProjects" rows="5" maxlength="2500"></textarea>
                    </span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="block_headings col-md-12 val_prop" style="color:grey">
                    <span>Services</span> <span class="full_description">
                        <textarea asp-for="Product.Services" rows="5" maxlength="2500"></textarea>
                    </span>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <div class="row footer">
            <div class="col-md-12">
                Version: 1
                <br />
                <input asp-for="Product.Submitter" maxlength="20" placeholder="Name and Surname">

                <button type="submit" class="submit float-right btn btn-danger">SUBMIT</button>
            </div>
        </div>
    </form>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Upload Image</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form method="post" enctype="multipart/form-data">
                <!-- Modal body -->
                <div class="modal-body">
                    <input required accept="image/*" asp-for="FileUpload" type="file">
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-danger">Submit</button>*@
                    <input class="col-md-6" type="submit" value="Upload" id="uploader" asp-page-handler="UploadImage" />
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </form>
        </div>
    </div>
</div>