﻿@page
@model ExcoModel
@{
}

<div class="container-fluid">
    <!-- COE NAME -->
    <div class="row introduction white">
        <div class="col-lg-2 col-md-2 col-xs-2">
        @if (Model.Exco.ImageUri == null)
        {
            <img class="img-fluid max-width" src="images/bar-code-01.svg" alt="" />
        }
        else
        {
            <img class="img-fluid max-width" src="@Model.Exco.ImageUri" alt="" />
        }
        </div>
        <div class="col-lg-10 col-md-10 col-xs-10" style="margin-top: auto; margin-bottom: auto;">
            <div class="solution_name"><span>@Model.Exco.Name</span></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 dark_grey_1">
            <div class="block_headings col-md-12" style="color: white"><span>@Model.Exco.Name DESCRIPTION</span> <span class="full_description"> @Model.Exco.Description </span> </div>
        </div>
    </div>
    <div class="row white_0">
        <!-- Tabs -->
        <div class="col-md-6">
            <ul class="nav nav-tabs 123" id="navbartabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" role="tab" href="#details" id="details-tab">CoE List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" role="tab" href="#documents" id="documents-tab">Documents</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="float-right">
                <button class="btn btn-primary" data-toggle="modal" data-target="#uploadDocument">
                    Upload Document
                </button>
            </div>
        </div>
    </div>
    <div class="tab-content white_0" id="tab-content">
        <div class="tab-pane fade show active" id="details" role="tabpanel">
            @foreach(var coe in Model.Exco.coeList)
            {
                <div class="col-lg-2 col-md-2 col-xs-2 grid float-left white">
                    <a class="popover_detail" data-trigger="hover" data-placement="bottom" data-content="@coe.Name" href="/coe?key=@coe.Name">
                    @if (coe.ImageUri == null)
                    {
                        <img class="img-fluid max-width" src="images/bar-code-01.svg" alt="" />
                    }
                    else
                    {
                        <img class="img-fluid max-width" src="@coe.ImageUri" alt="" />
                    }
                    </a>
                </div>
            }
        </div>
        <div class="tab-pane" id="documents" role="tabpanel">
            @foreach(var file in Model.salesDocuments)
            {
                <div class="col-md-2 col-lg-2 col-xs-2 grid float-left white">
                    <a href="@file.downloadLink">
                        <img class="img-fluid text-center max-width pb-2" src="images/icons8-document.svg" alt="" style="display: block; margin: auto;" />
                    </a>
                    <div class="text-center">
                        @file.name
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div id="uploadDocument" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Upload Document</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <input asp-for="FileUpload" type="file" />
                        <input class="col-md-6" type="submit" value="Upload" id="uploader" asp-page-handler="UploadDocument" />
                    </fieldset>
                </form>
            </div>

        </div>

    </div>
</div>