﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- MAIN CONTAINER -->
<div class="container-fluid">
    <div class="row white">
        <div class="col-md-12 col-lg-12 col-xs-12 text-center pt-4 pb-3">
            This site has been developed for the Chief Revenue Officer’s team to enable them to access the solutions that each Division has available. Please click of the relevant Division to see the team and current value propositions.
        </div>
    </div>
</div>
<div class="container-fluid home_blocks">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12">
            @foreach (var exco in Model.excoList)
        {
            <div class="col-md-4 col-lg-4 col-xs-4 float-left">
                <div class="white_solid pt-3 pb-3">
                    <a href="/exco?key=@exco.Name">
                        <div class="text-center heading">
                            @foreach (var part in exco.NameParts)
                        {
                            <span>@part</span>
                        }
                            <span>VIEW</span>
                        </div>
                    </a>
                </div>
            </div>
        }
        </div>
    </div>
</div>