﻿@page
@model LoginModel
@{
}
<div class="container" style="background: gray;">
    <div class="login-form pt-5 pb-5">
        <div class="main-div">
            <div class="panel">
                <h2>Login</h2>
                <p>Please enter your email and password</p>
            </div>
            <form id="Login" action="" method="post">
                <div class="form-group">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" asp-for="Username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" asp-for="Password">
                </div>
                <button asp-page-handler="UserLogin" type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>