﻿@page
@model PasswordResetModel
@{
}
<div class="container white">
    <div class="login-form pt-5 pb-5">
        <div class="main-div">
            <div class="panel">
                <h2>Password Reset</h2>
                <p>Please enter the new password for @PasswordResetModel.UserEmail</p>
            </div>
            <form id="reset-password" action="" method="post">
                <div class="form-group">
                    <input type="password" asp-for="NewPassword" class="form-control" id="inputPassword" placeholder="New Password" >
                </div>
                <button asp-page-handler="ResetPassword" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>