﻿@page
@model ProductModel
@{
}
<!-- MAIN CONTAINER -->
<div class="container-fluid">

    <!-- COE NAME -->
    <div class="row introduction white">
        <div class="col-lg-2 col-md-2 col-xs-2">
        @if (Model.product.ImageUri == null)
        {
            <img class="img-fluid max-width" src = "images/bar-code-01.svg" alt="" />
        }
        else
        {
            <img class="img-fluid max-width" src = "@Model.product.ImageUri" alt="" />
        }
        </div>
        <div class="col-lg-10 col-md-10 col-xs-10">
            <div class="coe_name">@Model.product.COEName</div>
            <div class="solution_name"><span>@Model.product.ServiceName</span></div>
            <div class="owner_name popover-pop"> <span><a href="#" data-toggle="popover" title="@Model.product.OwnerOneName" data-placement="bottom" data-content="@Model.product.OwnerOneNumber">@Model.product.OwnerOneName <br/> @Model.product.OwnerOneEmail <br/> @Model.product.OwnerOneNumber</a></span> <span class="print_me">@Model.product.OwnerOneEmail - @Model.product.OwnerOneNumber</span> </div>
            <div class="one_up_name popover-pop"> <span><a href="#" data-toggle="popover" title="@Model.product.OwnerTwoName" data-placement="bottom" data-content="@Model.product.OwnerTwoNumber">@Model.product.OwnerTwoName <br/> @Model.product.OwnerTwoEmail <br/> @Model.product.OwnerTwoNumber</a></span> <span class="print_me">@Model.product.OwnerTwoEmail - @Model.product.OwnerTwoNumber</span> </div>
        </div>
    </div>

    <!-- Tabs -->
    <div class="row white_0">
        <div class="col-md-6">
            <ul class="nav nav-tabs 123" id="navbartabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" role="tab" href="#details" id="details-tab">Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" role="tab" href="#presentations" id="presentations-tab">Presentations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" role="tab" href="#questionnaire" id="questionnaire-tab">Questionnaire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" role="tab" href="#pricing" id="pricing-tab">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" role="tab" href="#brochure" id="brochure-tab">Brochure</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="float-right">
                <button class="btn btn-primary" data-toggle="modal" data-target="#uploadDocument">
                    Upload Document
                </button>
            </div>
        </div>
    </div>

    <div class="tab-content" id="tab-content">
        <div class="tab-pane fade show active white" id="details" role="tabpanel">
            <!-- Target Audience + ELEVATOR PITCH SERVICE OFFERING DESCRIPTION -->
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-4 dark_grey">
                    <div class="block_headings col-md-12" style="color: white">
                        <span>ELEVATOR PITCH</span>
                        <span>
                            @Model.product.ElevatorPitch
                        </span>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-xs-8 dark_grey_1">
                    <div class="block_headings col-md-12" style="color: white">
                        <span>SERVICE OFFERING DESCRIPTION</span> <span class="full_description">
                            @Model.product.ServiceOfferingDescription
                        </span>
                    </div>
                </div>
            </div>

            <!-- VALUE PROPOSITION + PROBLEM -->
            <div class="row page_break">
                <div class="col-lg-4 col-md-4 col-xs-4 border-right white">
                    <div class="block_headings col-md-12" style="color: grey">
                        <span>PROBLEM SOLVED</span><span>
                            @Model.product.ProblemSolved
                        </span>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-xs-8 white">
                    <div class="block_headings col-md-12 val_prop" style="color:grey">
                        <span>VALUE PROPOSITION</span>
                        <span class="full_description">
                            @Model.product.ValueProposition
                        </span>
                    </div>
                </div>
            </div>

            <!-- FEATURES + COMMERCIALS -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 white">
                    <div class="block_headings col-md-12 val_prop" style="color:grey">
                        <span>Customers and projects</span>
                        <span class="full_description">
                            @Model.product.CustomersAndProjects
                        </span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12 white">
                    <div class="block_headings col-md-12 val_prop" style="color:grey">
                        <span>Services</span> <span class="full_description">
                            @Model.product.Services
                        </span>
                    </div>
                </div>
            </div>

            <!-- FOOTER -->
            <div class="row footer">
                <div class="col-md-12">Version: @Model.product.Version - @Model.product.Submitter</div>
            </div>
        </div>
        <div class="tab-pane" id="presentations" role="tabpanel">
            @foreach(var file in Model.presentationDocuments)
            {
            <div class="col-md-2 col-lg-2 col-xs-2 grid float-left white">
                <a href="@file.downloadLink">
                    <img class="img-fluid text-center max-width pb-2" src="images/icons8-document.svg" alt="" style="display: block; margin: auto;" />
                </a>
                <div class="text-center">
                    @file.name
                </div>
            </div>
            }
        </div>
        <div class="tab-pane" id="questionnaire" role="tabpanel">
            @foreach(var file in Model.questionnaireDocuments)
            {
            <div class="col-md-2 col-lg-2 col-xs-2 grid float-left white">
                <a href="@file.downloadLink">
                    <img class="img-fluid text-center max-width pb-2" src="images/icons8-document.svg" alt="" style="display: block; margin: auto;" />
                </a>
                <div class="text-center">
                    @file.name
                </div>
            </div>
            }
        </div>
        <div class="tab-pane" id="pricing" role="tabpanel">
            @foreach(var file in Model.pricingDocuments)
            {
            <div class="col-md-2 col-lg-2 col-xs-2 grid float-left white">
                <a href="@file.downloadLink">
                    <img class="img-fluid text-center max-width pb-2" src="images/icons8-document.svg" alt="" style="display: block; margin: auto;" />
                </a>
                <div class="text-center">
                    @file.name
                </div>
            </div>
            }
        </div>
        <div class="tab-pane" id="brochure" role="tabpanel">
            @foreach(var file in Model.brochureDocuments)
            {
            <div class="col-md-2 col-lg-2 col-xs-2 grid float-left white">
                <a href="@file.downloadLink">
                    <img class="img-fluid text-center max-width pb-2" src="images/icons8-document.svg" alt="" style="display: block; margin: auto;" />
                </a>
                <div class="text-center">
                    @file.name
                </div>
            </div>
            }
        </div>
    </div>
</div>

<div id="uploadDocument" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Upload Document</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <input asp-for="FileUpload" type="file" />
                        <select class="custom-select" asp-for="FileCategory">
                            <option selected disabled>Select a category</option>
                            <option value="Presentations">Presentations</option>
                            <option value="Questionnaire">Questionnaire</option>
                            <option value="Pricing">Pricing</option>
                            <option value="Brochure">Brochure</option>
                        </select>
                        <input class="col-md-6" type="submit" value="Upload" id="uploader" asp-page-handler="UploadDocument" />
                    </fieldset>
                </form>
            </div>

        </div>

    </div>
</div>