﻿@page
@model TablesModel
@{
}
<ul class="nav nav-tabs bg-light">
    @foreach (var exco in Model.excos)
    {
        <li class="nav-item">
            <a class="nav-link @Model.GetActiveTab(exco.Name)" href="/Tables?exco=@exco.Name">@exco.Name</a>
        </li>
    }
    @*<li class="nav-item">
        <a class="nav-link @Model.GetActiveTab("Chief Digital Officer")" href="/Tables?exco=Chief Digital Officer">CDO</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @Model.GetActiveTab("Chief Software Officer")" href="/Tables?exco=Chief Software Officer">CSWO</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @Model.GetActiveTab("Chief Operating Officer")" href="/Tables?exco=Chief Operating Officer">COO</a>
    </li>*@
</ul>
<div class="container-fluid">
    <!-- Table Data for the Exco -->
    <div class="row white">
        <div class="col-md-12 col-lg-12 col-xs-12 text-center">
            <div class="text-center heading">
                <h2>@Model.currentExco</h2>
                @if (Model.coes.Count <= 0)
                {
                <div class="text-center">
                    No CoE's present for this Exco
                </div>
                }
            </div>
        </div>
        @if (Model.coes.Count > 0)
        {
        <div class="row bg-light">
            @foreach(var coe in Model.coes)
            {
            var products = Model.GetProductsForCoE(coe.Name);
            <h4> @coe.Name </h4>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"> Service Name</th>
                            @*<th scope = "col" > Description </ th > *@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var product in products)
                        {
                            <tr onclick = "window.location='/product?key=@product.ServiceName'">
                                 <td> @product.ServiceName </td>
                                @*< td > @product.ServiceOfferingDescription </ td > *@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            } 
        </div>
        }
    </div>
</div>