﻿@page
@model UsersModel
@{
}
<div class="container-fluid white">
    <div class="row">
        <div class="col-md-12">
            <h2>User Access</h2>
            <div class="float-right">
                <button class="btn btn-dark" data-toggle="modal" data-target="#newUser">
                    Add User
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"> User Email </th>
                    <th scope="col"> Admin Access </th>
                    <th scope="col"> </th>
                    <th scope="col"> </th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var user in Model.Users)
                {
                <tr>
                    <td> @user.Email </td>
                    <td> @user.Access</td>
                    <td>
                        <form method="post" asp-page-handler="ToggleUser" asp-route-email="@user.Email">
                            <button class="btn btn-primary">
                                Toggle Admin
                            </button>
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-page-handler="ResetPassword" asp-route-email="@user.Email">
                            <button class="btn btn-primary">Reset Password</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-page-handler="DeleteUser" asp-route-email="@user.Email">
                            <button class="btn btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div id="newUser" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Add new admin user</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="" method="post" enctype="multipart/form-data">
                    <div class="pl-5">
                        <div class="row">
                            <input class="form-control" style="width: 80%" asp-for="NewUserEmail" type="email" placeholder="Email Address" />
                        </div>
                        <div class="row">
                            <input class="form-control" style="width: 80%" asp-for="NewUserPassword" type="password" placeholder="Password" />
                        </div>
                        <div class="row">
                            <input asp-for="NewUserAccess" type="checkbox" /> 
                            <div class="pl-3">Admin access?</div>
                        </div>
                        <div class="row">
                            <input class="col-md-6" type="submit" value="Save" id="saver" asp-page-handler="SaveNewUser" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>