@charset "utf-8";


body {
	font-family: 'Open Sans', sans-serif;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.container-fluid > div {
	min-height: 100px;
}
.container-fluid > div > div {
	padding: 20px;
}
.introduction {
	padding: 50px 20px;
}
.coe_name {
	font-size: 1em;
	font-weight: 300;
	text-transform: uppercase;
}
.solution_name {
	font-size: 2em;
	font-weight: 500;
	padding-bottom: 10px;
	text-transform: uppercase;
}
.owner_name {
	font-size: .9em;
	font-weight: 500;
	padding: 10px 0px;
	border-top: 1px lightgrey solid;
}
.one_up_name {
	font-size: .8em;
	font-weight: 500;
	padding: 0 0 10px 0px;
}
.white_solid {
	background: rgba(255, 255, 255);
}
.white {
	background: rgba(255, 255, 255, .7);
}
.white_1 {
	background: rgba(255, 255, 255, .5);
}
.white_0 {
    background: rgba(255, 255, 255, 0);
}

.dark_grey {
	background-color: rgba(0, 0, 0, .8);
}
.dark_grey_1 {
	background-color: rgba(0, 0, 0, .85);
}
.dark_grey_2 {
	background-color: rgba(0, 0, 0, .86);
}
.orange {
	background-color: rgba(220, 70, 30, .8);
}
.orange_light {
	background-color: rgba(220, 70, 30, .7);
}
.purple {
	background-color: rgba(70, 40, 90, .8);
}
.purple_light {
	background-color: rgba(70, 40, 90, .7);
}
.block_headings span:first-child {
	font-size: .8em;
	font-weight: 500;
	padding: 20px;
	display: block;
	padding-left: 0;
	text-transform: uppercase;
}
.block_headings span {
	font-size: 1em;
	font-weight: 300;
	padding-bottom: 30px;
	display: block;
}
.block_headings .full_description {
	font-size: 1em;
	font-weight: 300;
	padding-bottom: 30px;
	display: block;
}
.block_headings .tshirt_size {
	color: white;
	font-size: 4em;
	font-weight: 500;
	padding-bottom: 0px;
}
.block_headings .tshirt_size_number {
	color: gray;
	font-size: 1.2em;
	font-weight: 400;
	margin-top: -20px;
}
.footer {
	background-color: rgba(0, 0, 0, .9);
	color: white;
	font-size:.8em;
}
.popover-pop a {
	color: #e11e2b;
	text-decoration: none;
}
.popover-pop a:hover {
	text-decoration: none;
}
.val_prop .row > div {
	min-height: 100px;
	box-sizing: border-box;
	border-right: 1px solid;
	border-color: rgba(255, 255, 255, .3);
}
.print_me {
	display: none;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*inputs*/


.click  {
	cursor: pointer;
}

input, select {
	margin:10px 0;
	padding:0 10px;
	display: block;
	min-width: 300px;
}

.dark_grey textarea, .dark_grey_1 textarea {
	width: 100%;
	background-color: transparent;
	color: white;
	padding:10px;
}

textarea {
	width: 100%;
	background-color: transparent;
	color: gray;
	padding:10px;
}

.footer input {
	display:inline;
}

.footer > div {
	    padding: 20px;
}

button.submit {
	padding:10px;
	border: none;
	color: white;
	font-size: 2em;
	cursor: pointer;
	font-weight: bold;
}

.btn-danger {
    background-color: red;
}

.grid {
	padding: 20px;
	cursor: pointer;
		-webkit-transition: .3s ease-out;
	-moz-transition: .3s ease-out;
	-o-transition: .3s ease-out;
	transition: .3s ease-out;
}

.grid:hover {
	opacity:.8;
		-webkit-transition: .3s ease-out;
	-moz-transition: .3s ease-out;
	-o-transition: .3s ease-out;
	transition: .3s ease-out;
}

.background_home {
	background-image:url(../images/home.jpg) !important;
	min-height: 100vh;
}

.home_blocks > div {
	min-height: 500px;
	padding:20px;
		-webkit-transition: .3s ease-out;
	-moz-transition: .3s ease-out;
	-o-transition: .3s ease-out;
	transition: .3s ease-out;
}

.home_blocks > div:hover {
	opacity: .9;
		-webkit-transition: .3s ease-out;
	-moz-transition: .3s ease-out;
	-o-transition: .3s ease-out;
	transition: .3s ease-out;
}

.home_blocks .heading {
	font-size: 3em;
	text-transform: uppercase;
}

.home_blocks span {
	display: block;
	line-height: 1.2;
}

.home_blocks span:nth-child(1) {
	color: gray;
	font-size: .5em;
}

.home_blocks span:nth-child(2) {
	color: #e11e2b;
	font-weight: bold;
}

.home_blocks span:nth-child(3) {
	color: gray;
	font-size: .7em;
}

.home_blocks span:nth-child(4) {
	color: #e11e2b;
	font-size: .4em;
	margin-top: 20px;
}

a {
	text-decoration: none !important;
}

.form-heading {
    color: #fff;
    font-size: 23px;
}

.panel h2 {
    color: #444444;
    font-size: 18px;
    margin: 0 0 8px 0;
}

.panel p {
    color: #777777;
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 24px;
}

.login-form .form-control {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
}

.main-div {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 2px;
    margin: 10px auto 30px;
    max-width: 38%;
    padding: 50px 70px 70px 71px;
}

.login-form .form-group {
    margin-bottom: 10px;
}

.login-form {
    text-align: center;
}

.forgot a {
    color: #777777;
    font-size: 14px;
    text-decoration: underline;
}

.forgot {
    text-align: left;
    margin-bottom: 30px;
}

.botto-text {
    color: #ffffff;
    font-size: 14px;
    margin: auto;
}

    .login-form .btn.btn-primary.reset {
        background: #ff9900 none repeat scroll 0 0;
    }

@media print {
.introduction {
	padding: 20px 20px;
}
.print_me {
	display: block;
}
.owner_name, .one_up_name {
	width: 50%;
	float: left;
}
.page_break {
	page-break-after: always;
}
.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.one_up_name {
	border-top: 1px lightgrey solid;
	padding: 10px 0px;
	font-size: .9em;
}
}


